.achive-content
  background-color: #f3f2ea
.achive-headline
  margin-top: 15px
  color: black
  font-size: 25px
  font-weight: bold
  .trophy
    color: #b49531

.an-achive-area
  display: inline-block
  .achive-picture
    height: 200px
    width: 200px
    margin: 13px
    padding: .3em
    // background-image: image-url('TrophyYagis/isiyagi.png')
    background-repeat: no-repeat
    background-size: cover
    flex-direction: column
    flex: 1
    border: solid 3px #666600
    box-shadow: 0px 0px 0px 5px #663300

  .achive-name
    margin-left: 20%
    margin-right: 20%
    border-radius: 0.4vw
    text-align: center
    background: #b49531
    color: #f9f9f4
    font-size: 18px
