<h1>YagiNoTegami#regular_mail</h1>

<p>
    <br>
    こんにちは、<%= @user.username %>様 <br>
    あなたの Project： <%= @project.name %> のヤギから、メッセージが届きました！ <br>
    <br>
    現在のエサの量は、 <%= @project.commit_num %> です。 <br>
</p>

