
<div class = "hs-user">

  <!-- ヘッダー -->
  <div class="hs-user--header">
    <div class = "has-logo">
      <h1>HAS</h1>

    </div>
    <div class = "button-project">
      <button class="ui button" >
        <a href="/projects/entry"> プロジェクトを追加する </a>
      </button>
    </div>

  </div>

  <div class = "hs-users-sidebar-wrapper">
    <!-- 左側：ユーザー情報 -->
    <div class = "hs-users-sidebar">
      <h1>Profile</h1>
      <div class = "user-photo">
      </div>
      <p><%= current_user.username %></p>
      <button class="ui  button" >
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </button>
    </div>
    <!-- 右側：プロジェクト一覧 -->
    <div class = "hs-users-main_contents">
      <h2>ProjectURL一覧</h2>
      <!-- app/controllers/users_controller.rb に定義あり。
          @projects = current_user.projects -->
      <% @projects.each do |proj| %>
        <div>
          <br>
          <a href="https://github.com//enpit2018_webapp3"><%= proj.name %></a>
          <p>コミット数：<%= proj.commit_num %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>
