<div class = "hs-user">


<div class="hs-hero--header">
  <div class = "has-logo">
    <h1>HAS</h1>
  </div>

</div>


<h1>Profile</h1>
<img src="https://pbs.twimg.com/profile_images/1041472480521609216/ByV-guXG_400x400.jpg" alt="ProfileImage"　 width="200" height="200">
<h2>Name</h2>
<p>RukaYamashiro</p>
<h2>age</h2>
<p>21</p>
<h2>email</h2>
<p>e165754@ie.u-ryukyu.ac.jp</p>
<h2>ProjectURL一覧</h2>
<a href="https://github.com/M-82s7503/enpit2018_webapp3">https://github.com/M-82s7503/enpit2018_webapp3</a>
<button class="ui button" >
  <a href="/projects/entry"> プロジェクトを追加する </a>
</button>


</div>
