<div class = "hs-user">
  <div class="page__bg"></div>
  <div class="page__decoration"></div>
  <div class="page__inner">
    <div class = "hs-project">
      <p> 通知先のメールアドレス </p>
      <!-- 文字がずれてたので応急処置 -->
      <%= current_user.email %>
      <br><br>

      <p> アカウントを削除する </p>
      <div>ユーザー情報を全て削除、初期化します。<br>
        一度削除すると、元には戻せません。
      </div>
      <br>
  　<!--  ← スペース（全角）  -->
      <!-- ただのダイアログで見てくれが悪いので、UI を少しいじってほしい！
          良さそうな参考：https://qiita.com/ihatov08/items/a0b3b043ba809fdc2cd6 -->
      <%= link_to "削除する", users_setting_path, method: :delete,
          data: {
            title: "削除の確認",
            confirm: "一度削除すると、元には戻せません。\n本当によろしいですか？"
          }, class: "ui button"%>
      <!--button class="ui button">
        解約する
      </button-->
      <a class="page__close-btn" href="<%= url_for(users_path) %>"><div></div><div></div></a>
    </div>
  </div>


</div>
