
<!-- <div class="hs-m--body"> -->
<div class="hs-main">
  <div class="hs-m--header">
    <%= image_tag('back_ground.JPG') %>
    <button class="ui button" >
      Sign Up
    </button>
    <button class="ui button" onclick="location.href='users/index'">
      Log In
    </button>
  <div>
</div>

<!-- </div> -->
