
<div class="hs-m--hero" >
  <div class="hs-hero--header">
    <div class = "has-logo">
      <h1>HAS</h1>
    </div>
    <div class = "hs-header-home">
      <a href="<%= url_for(root_path) %>">
        <h1>HOME</h1>
      </a>
    </div>
    <div class = "hs-header-release">
      <h1>RELEASE</h1>
    </div>
    <div class="button-area">

      <% if user_signed_in? %>
        <div class="ui buttons">
          <button class="ui button">
          <strong><%= link_to current_user['username'], users_index_path %></strong>
          </button>
          <div class="or"></div>
          <button class="ui button" >
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </button>
        </div>
      <% else %>
        <div class="ui buttons">
          <button class="ui  button">
            <%= link_to 'Github ログイン', user_github_omniauth_authorize_path %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="topbox">
    <div class = "has-catchphrase">
      <h1>Let's grow Projects & Goats</h1>
    </div>

    <div class = "has-setumei">
      <p>ヤギを飼うように、あなたの趣味を大切にする</p>
    </div>
  </div>
<div>

<div class = "hs-m--yagi">
  <div class = "yagi-gazou">
  </div>
  <p>これはあなたのコミットを糧に生きるヤギです。<br>


  </p>
</div>




<!-- </div> -->

<!-- </div> -->
