
<!-- <div class="hs-m--body"> -->
<!-- <div class="hs-main"> -->
<div class="hs-m--hero" >
  <div class="hs-hero--header">
    <div class="button-area">
      <button class="ui button" >
        Sign Up
      </button>
      <button class="ui button" onclick="location.href='users/index'">
        Log In
      </button>
    </div>
  </div>
<div>
<!-- </div> -->

<!-- </div> -->
