<div class = "header">
  <p>header!!!!!!!</p>
</div>

<h1>Home#top</h1>
<button class="ui button">
  login
</button>
<button class="ui button">
  logout
</button>

<p>Find me in app/views/home/top.html.erb</p>
