  <a href="<%= url_for(root_path) %>">
    <h1>HAS</h1>
  </a>
<%= form_for @project, url: { controller: 'projects', action: "create" } do |f| %>
    <%= f.select(:name, @form_repos, class: "ui selection")%>

  <%= submit_tag('Create', class: "ui button") %>
<% end %>
