

.hs-m--appbar
  width: 100%
  position: fixed
  z-index: 10000
  background-color: #063445
  .hs-m--appbar-container
    height: 56px
    position: relative
    display: flex
    align-items: center
