

.hs-m--hero
  background-image: image-url('HAS_.png')
  display: flex
  flex-direction: column
  flex: 1
  background-repeat: no-repeat
  background-size: cover


  margin: 0
  min-height: 100vh
  padding: 0
  position: relative

.hs-hero--header
  background-color: rgba(255,255,255,0.3)
  margin: 0
  padding: 2vh
  position: fixed
  width: 100vw

.hs-hero--header.transform
  background-color: #000

.button-area
  margin-left: auto





.has-logo h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 4vh
  text-shadow: 1px 1px 2px #80a7a3

.hs-header-home
    margin: 0
    margin-left: 20px

.hs-header-home h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 3vh
  text-shadow: 1px 1px 2px #80a7a3

.hs-header-release
    margin: 0
    margin-left: 20px

.hs-header-release h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 3vh
  text-shadow: 1px 1px 2px #80a7a3

.topbox
  margin: auto
  margin-top: 30vh
  text-align: center
.has-catchphrase h1
  color: #fff
  font-size: 10vh
  font-family: 'Tahoma',sans-serif


.has-setumei

  margin: auto
  margin-top: 35px
  margin-bottom: 35px

.has-setumei2
  color: #fff
  font-size: 30px
  margin: auto
  margin-top: 35px
  margin-bottom: 35px
  //background-color: rgba(255,255,255,0.2)
  //border-top: solid 2px white
  //border-bottom: solid 2px white
  //text-shadow: 1px 1px 6px #000000

.has-setumei p
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 5vh

.button-area2
  margin: auto
  text-align: center


.button.ui.inverted.button
    font-size: 4vh
    font-family: 'Tahoma',sans-serif
    width: auto
    height: 10vh

.learnmore-button
  color: #fff
  font-size: 4vh

.hs-m--commit
  height: 100vh

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover
  p
    margin-top: 4vh
.userpage-setumei
  color: rgb(115, 115, 115)
  font-size: 5vh
  text-align: center
.userpage-setumei-wrapper
    display: flex
    margin: auto

.userpage-gazou
  flex: 1

  max-width: 40%
  height: 40%

  margin: 5vh
  margin-left: 5%
.userpage-setumei2
  flex: 1
  text-align: left
  margin: auto
  color: rgb(115, 115, 115)
  font-size: 4vh
.hs-m--yagi

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
.yagi-gazou


  width: 50%

  height: 50%
.hs-m--yagi p
  font-size: 5vh
  margin: 0 25vh 0vh 25vh
  text-align: center
  color: #747474

.hs-m--yagi-exam
  margin: 0

.hs-m--learnmore
  height: 100vh
  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover
.learnmore-button
  .massive.angle.double.down.icon
    color: rgb(255, 255, 255)


.learnmore-exam


.learnmore-exam p
  font-family: 'Tahoma',sans-serif
  font-size: 5vh
  color: #546a68
  text-align: center
