

.hs-m--hero
  background-image: image-url('HAS_.png')
  display: flex
  flex-direction: column
  flex: 1
  background-repeat: no-repeat
  background-size: cover


  margin: 0
  min-height: 100vh
  padding: 0
  position: relative

#hs-hero--header
  background-color: rgba(255,255,255,0.3)
  margin: 0
  padding: 2vh
  position: fixed
  width: 100vw

#hs-hero--header.scrolled
  background-color: rgba(0,0,0,1)
  margin: 0
  padding: 2vh
  position: fixed
  width: 100vw
  z-index: 1



.hs-hero--header.transform
  background-color: #000
  width: 100vw
.button-area
  margin-left: auto

.button-area .ui.buttons
  margin: 10px








.has-logo h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 4vh
  text-shadow: 1px 1px 2px #80a7a3

.hs-header-home
    margin: 0
    margin-left: 20px

.hs-header-home h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 3vh
  text-shadow: 1px 1px 2px #80a7a3

.hs-header-release
    margin: 0
    margin-left: 20px

.hs-header-release h1
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 3vh
  text-shadow: 1px 1px 2px #80a7a3

.topbox
  margin: auto
  margin-top: 30vh
  text-align: center
.has-catchphrase h1
  color: #fff
  font-size: 10vh
  font-family: 'Tahoma',sans-serif
  text-shadow: 2px 2px 3px #7d9a97


.has-setumei
  margin: auto
  margin-bottom: 35px
  text-shadow: 2px 2px 3px #7d9a97


.has-setumei p
  color: #fff
  font-family: 'Tahoma',sans-serif
  font-size: 5vh

.button-area2
  margin: auto
  text-align: center

.buttonman
    font-family: 'Tahoma',sans-serif
    color: white
    background-color: inherit
    width: auto
    font-size: 3vh
    border-radius: 8px
    border: solid 3px white
    padding: 9px
    font-weight: 700
    text-shadow: 2px 2px 3px #7d9a97
    box-shadow: 6px 6px 34px -4px #7d9a97


.buttonman:hover
    background-color: white
    color: #3c3f57
    border-color: white
    text-shadow: 0px 0px 0px #000000

.button.ui.inverted.button
    font-size: 4vh
    font-family: 'Tahoma',sans-serif
    width: auto
    height: 10vh


.learnmore-button
  color: #fff
  font-size: 4vh
  margin-top: 50px


.hs-m--has_what
  height: 100vh

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover

.has_what_title
  padding-top: 5%
  color: rgb(115, 115, 115)
  font-size: 50px
  text-align: center


.has-setumei2
  color: rgb(115, 115, 115)
  font-size: 30px
  margin: auto
  margin-top: 35px
  margin-bottom: 35px
  text-align: center
  //text-shadow: 2px 2px 3px #7d9a97
  //background-color: rgba(255,255,255,0.2)
  //border-top: solid 2px white
  //border-bottom: solid 2px white
  //text-shadow: 1px 1px 6px #000000

.hs-m--feature
  height: 100vh

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover

.has_feature_title
  color: rgb(115, 115, 115)
  font-size: 50px
  text-align: center

.hs-m--commit
  height: 100vh

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover
  p
    margin-top: 4vh
.userpage-setumei
  color: rgb(115, 115, 115)
  font-size: 5vh
  text-align: center
.userpage-setumei-wrapper
    display: flex
    margin: auto

.userpage-gazou
  flex: 1
  border: solid 1px rgb(115, 115, 115)
  border-radius: 3px

  max-width: 40%
  height: 40%

  margin: 5vh
  margin-left: 5%
.userpage-setumei2
  flex: 1
  text-align: left
  margin: auto
  color: rgb(115, 115, 115)
  font-size: 4vh
.hs-m--yagi

  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
.yagi-gazou
  width: 50%
  height: 50%

.hs-m--yagi p
  font-size: 5vh
  margin: 0 25vh 0vh 25vh
  text-align: center
  color: #747474

.hs-m--yagi-exam
  margin: 0

.hs-m--learnmore
  height: 100vh
  background-image: image-url('haikeisample.png')
  background-repeat: no-repeat
  background-size: cover

.learnmore-button
  margin-top: 20vh
  color: rgb(255, 255, 255)

.goat_button
    color: rgb(71, 106, 113)

.Github_link_img
  height: 30vh

.learnmore-exam


.learnmore-exam p
  font-family: 'Tahoma',sans-serif
  font-size: 5vh
  color: #546a68
  text-align: center
