<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Test#say_hello_test#html</h1>

    <p>
      Hello! World ! <br>
      テスト メールです。 <br>
    <br>
      こんにちは、<%= @user.username %>様 <br>
      （あなたのHASのProject： <%= @project.name %> のデータを更新しました。） <br>
    <br>
      現在のエサの量は、 <%= @project.commit_num %> です。 <br>
    </p>
  </body>
</html>
