
.hs-user--header {
  background-color: #6cd8c5;
  color: #000;
  display: flex;
  padding: 2vh;

  width: 100%;

}
.hs-user--header--blank{
  padding: 2vh;
  color: inherit;
}
.has-logo{
  width: 10vw;

}
.button-project{
  margin-left: auto;
  //position: relative;
  margin: 10px;
  .ui.button{
    background-color: white;
  }
  .ui.button:hover{
    color: #696969;
    background-color: #f5f5f5;
  }
}

.hs-user{
  color: #285c76;
}



.user-photo{

  height: 250px;
  width: 100%;
  margin:auto;
  border: solid 1px #D9D9D9;
  background-color: white;
  align-items: center;
	display: flex;
  img{
    margin:auto;
    width: 100%;
    //height:250px;
    background-color:fff;
  }

}

.user-name{
  text-align: center;
  margin:auto;
  margin-bottom: 1vh;
  width: 100%;
  background-color: white;
  color: rgb(125, 125, 125);
  border: solid 1px #D9D9D9;
}

.button-logout{
  margin: auto;
  padding-top: 2vw;
  .ui.button{
    width: 100%;
    color:#FFFFFF;
    background-color: rgb(68, 165, 203);
  }
  .ui.button:hover{
    color:#FFFFFF;
    background-color: rgb(123, 207, 229);
  }
}

.hs-users-sidebar-wrapper{
  display: flex;
}
.hs-users-sidebar{
  background-color: #98e4d6;
  //border : solid 2px #5fbbc9 ;
  //border-radius: 10px;/*角の丸み*/
  color: #fff;
  height: 90vh;
  padding: 13px;
  width: 20vw;
}
.hs-users-main_contents{
  flex: 1;
}

.hs-users-renewal{
  flex: 1;
  margin: 2vh;

  h1{
    font-size: 2vh;
  }
  p{
    border: solid 2px #99e8da;
    border-radius: 10px;
  }
}

.hs-project-pictures-wrapper{
  display:　flex;
  display: -webkit-flex;
}

.hs-users-table-project{
  width: 45vw;
  margin: 2vh  2vh ;
  padding: auto;

  .projects_flame{
    border: solid 2px #99e8da;
    border-radius: 10px;
    height: 50vh;
    overflow: auto;
    a:link { color: #477df2; }
    a:visited { color: #372a63; }
    a:hover { color: #18c8ae; }
    a:active { color: #10889d;}
  }

  .project_name{
    font-size: 20px;
  }
  .project_commit_num{
    font-size: 20px;
    text-align: center;
  }
  .delete{
    font-size: 20px;
    text-align: center;
  }
  .change{
    font-size: 20px;
    text-align: center;
  }
}


.list_title{
  padding-top: 9px;
  padding-left: 9px;
}

.hs-users-pictures{
  display: block;
  flex: 1;
  margin: 2vh  2vh ;
  width: 15vw;

  .pictures{
    border: solid 2px #99e8da;
    border-radius: 10px;
    height: 50vh;
    img{
      margin: 3px;
      width: 10vw;
    }
  }
}
