@mixin pc-layout($min-width:761px) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin sp-layout($max-width:760px) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

.hs-user--header {
  background-color: #6cd8c5;
  color: #000;
  display: flex;
  padding: 2vh;

  width: 100%;

}
.hs-user--header--blank{
  padding: 2vh;
  color: inherit;
}
.has-logo{
  width: 10vw;

}
.button-project{
  margin-left: auto;
  //position: relative;
  margin: 10px;
  .ui.button{
    background-color: white;
  }
  .ui.button:hover{
    color: #696969;
    background-color: #f5f5f5;
  }
}

.hs-user{
  color: #285c76;
}



.user-photo{

  height: 250px;
  width: 100%;
  margin:auto;
  border: solid 1px #D9D9D9;
  background-color: white;
  align-items: center;
	display: flex;
  img{
    margin:auto;
    width: 100%;
    //height:250px;
    background-color:fff;
  }

}

.user-name{
  text-align: center;
  margin:auto;
  margin-bottom: 1vh;
  width: 100%;
  background-color: white;
  color: #285c76;
  border: solid 1px #D9D9D9;
}

.button-logout{
  margin: auto;
  padding-top: 2vw;
  .ui.button{
    width: 100%;
    color:#FFFFFF;
    background-color: #285c76;
  }
  .ui.button:hover{
    color:#FFFFFF;
    background-color: rgb(68, 165, 203);
  }
}

.hs-users-sidebar-wrapper{
  display: flex;
}
.hs-users-sidebar{
  background-color: #98e4d6;
  //border : solid 2px #5fbbc9 ;
  //border-radius: 10px;/*角の丸み*/
  color: #fff;
  height: 90vh;
  padding: 13px;
  @include pc-layout{
    width: 240px
  }
  @include sp-layout{
    width: 0px;
    display: none;
  }
}
.hs-users-main_contents{
  flex: 1;
}

.hs-users-renewal{
  flex: 1;
  margin: 2vh;

  h1{
    font-size: 2vh;
  }
  p{
    border: solid 2px #99e8da;
    border-radius: 10px;
  }
}

.hs-project-pictures-wrapper{
  display:　flex;
  display: -webkit-flex;
}

.hs-users-table-project{
  //width: 90vw;
  margin: 2vh  2vh ;
  padding: auto;

  .projects_flame{
    border: solid 2px #99e8da;
    border-radius: 10px;
    height: 50vh;
    overflow: auto;
    a:link { color: #477df2; }
    a:visited { color: #372a63; }
    a:hover { color: #18c8ae; }
    a:active { color: #10889d;}
  }

  .project_name{
    font-size: 20px;
  }
  .project_commit_num{
    font-size: 20px;
    text-align: center;
  }
  .trophy{
    color : #CCBB00;
    font-size: 20px;
    text-align: center;
  }
  .trophy:hover{
    color : #DDDD66;
    font-size: 20px;
    text-align: center;
  }
  .delete{
    font-size: 20px;
    text-align: center;
  }
  .change{
    font-size: 20px;
    text-align: center;
  }
}


.list_title{
  padding-top: 9px;
}

.hs-users-pictures{
  display: block;
  flex: 1;
  margin: 2vh  2vh ;
  width: 15vw;

  .pictures{
    border: solid 2px #99e8da;
    border-radius: 10px;
    height: 50vh;
    img{
      margin: 3px;
      width: 10vw;
    }
  }
}

/**
 * decoration
 */
.page__decoration {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  @include pc-layout { top: 60px; height: calc(100% - 60px); }
  @include sp-layout { top: 40px; height: calc(100% - 40px); }
}
/**
 * frame
 */
.page__frame {
  position: absolute;
  box-sizing: border-box;
  // opacity: 0;
  @include pc-layout {
    top: 30px; left: 30px;
    width: calc(100% - 60px); height: calc(100% - 60px);
    border: dashed 2.5px #283c5f;
    border-radius: 40px;
  }
  @include sp-layout {
    top: 10px; left: 10px;
    width: calc(100% - 20px); height: calc(100% - 20px);
    border: dashed 1.5px #283c5f;
    border-radius: 30px;
  }
}

/**
 * inner
 */
.page__inner {
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  @include pc-layout {
    top: 60px; left: 40px;
    width: calc(100% - 80px); height: calc(100% - 120px);
  }
  @include sp-layout {
    top: 60px; left: 20px;
    width: calc(100% - 40px); height: calc(100% - 80px);
  }
}


/**
 * close-btn
 */
.page__close-btn {
  display: block;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  // transform: translateX(100%);
  cursor: pointer;
  // transition: all 0.5s ease 0s;
  @include pc-layout {
    top: 5px; right: 30px;
    width: 100px; height: 100px;
  }
  @include sp-layout {
    top: 5px; right: 10px;
    width: 80px; height: 80px;
  }

  div {
    position: absolute;
    background-color: #283c5f;
    @include pc-layout {
      top: calc(50% - 1.5px); left: 30px;
      width: calc(100% - 60px); height: 3px;
      border-radius: 10px;
    }
    @include sp-layout {
      top: calc(50% - 1.5px); left: 20px;
      width: calc(100% - 40px); height: 3px;
      border-radius: 10px;
    }
  }
  div:nth-child(1) { transform: rotate(45deg); }
  div:nth-child(2) { transform: rotate(-45deg); }

  &::after {
    content: ""; display: block;
    position: absolute;
    top: 5px; left: 5px;
    width: calc(100% - 10px); height: calc(100% - 10px);
    border-radius: 50%;
    box-sizing: border-box;
    border: dashed 1px #283c5f;
  }
}
.page__close-btn:hover { box-shadow: 0 0 40px rgba(0,0,0,0.7); }

/**
 * close-btn
 */
.page__plus-btn {
  display: block;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  // transform: translateX(100%);
  cursor: pointer;
  // transition: all 0.5s ease 0s;
  @include pc-layout {
    top: 5px; right: 30px;
    width: 100px; height: 100px;
  }
  @include sp-layout {
    top: 5px; right: 10px;
    width: 80px; height: 80px;
  }

  div {
    position: absolute;
    background-color: #283c5f;
    @include pc-layout {
      top: calc(50% - 1.5px); left: 30px;
      width: calc(100% - 60px); height: 3px;
      border-radius: 10px;
    }
    @include sp-layout {
      top: calc(50% - 1.5px); left: 20px;
      width: calc(100% - 40px); height: 3px;
      border-radius: 10px;
    }
  }
  div:nth-child(1) { transform: rotate(0deg); }
  div:nth-child(2) { transform: rotate(90deg); }

  &::after {
    content: ""; display: block;
    position: absolute;
    top: 5px; left: 5px;
    width: calc(100% - 10px); height: calc(100% - 10px);
    border-radius: 50%;
    box-sizing: border-box;
    border: dashed 1px #283c5f;
  }
}
.page__plus-btn:hover { box-shadow: 0 0 40px rgba(0,0,0,0.7); }
